p{

    font size: 20px; ;
    color: coral;
}

:root{

    --cor-fonte:coral;
    --font:100px
}

*{

    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2{


    font-size: var(--font);
    color: var(--cor-fonte)

}

h6{

    font-size: var(--font);
    color: var(--cor-fonte)

}


p{
    font-size: var(--font);
    color: var(--cor-fonte)

    
}

div {

width: 50px;
height: 50px;
font-size: 50px;
margin-top: 50px;
background-color: rgb(184, 4, 230);
border-width: 2mm;

}